---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/ai.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">We are smarter than me</h1>
        <p class="hero__meta">Learn by doing & Education is the most powerful weapon which you can use to change the world.</p>
      </div>
    </div>

    <main class="site__content">
            <ul>
            {% for post in site.post %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
            </ul>
    </main>

    {% include footer.html %}

  </body>

</html>
